<!DOCTYPE html>
<html>
    {% load pwa %}
    {% load static %}
    <head>
        {% progressive_web_app_meta %}        
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% block head %}
        <title>ISIS_Consulting</title>
        {% endblock %}

        <style>
            .myForm {
            font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
            font-size: 0.8em;
            padding: 1em;
            border: 1px solid #ccc;
            border-radius: 3px;
            }
            
            .myForm * {
            box-sizing: border-box;
            }
            
            .myForm label {
            font-size: 0.9em;
            }
            
            .myForm .audioOnly {
            position: absolute;
            width: 1px;
            height: 1px;
            padding: 0;
            margin: -1px;
            overflow: hidden;
            clip: rect(0, 0, 0, 0);
            border: 0;
            }
            
            .myForm input {
            border: 1px solid #ccc;
            border-radius: 3px;
            font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
            font-size: 0.9em;
            padding: 0.5em;
            }
            
            .myForm input[type="email"],
            .myForm input[type="password"] {
            width: 12em;
            }
            
            .myForm button {
            padding: 0.7em;
            border-radius: 0.5em;
            background: #eee;
            border: none;
            font-weight: bold;
            margin-left: 1.5em;
            }
            
            .myForm button:hover {
            background: #ccc;
            cursor: pointer;
            }
            </style>

        <script type="text/javascript">
            var indexedDB = window.indexedDB || window.mozIndexedDB || window.webkitIndexedDB || window.msIndexedDB;
            var dataBase = null;
            
           
            function startDB() {                
                dataBase = indexedDB.open("object", 1);                                
                dataBase.onupgradeneeded = function (e) {                
                    var active = dataBase.result;                    
                    var object = active.createObjectStore('people', { keyPath : 'id', autoIncrement : true });                    
                    //object.createIndex('by_codigoBarrras', 'codigoBarras', { unique : true });                                       
                };
                
                dataBase.onsuccess = function (e) {
                    alert('Database loaded');                    
                };
                
                dataBase.onerror = function (e) {
                    alert('Error loading database');
                };              
            }
            
            function addProducto() {
                
                var active = dataBase.result;
                var data = active.transaction(["people"], "readwrite");
                var object = data.objectStore("people"); 
                
                const datosPost = {
                    codigoBarras : document.querySelector("#codigoBarras").value,
                    nombre : document.querySelector("#nombre").value.toLowerCase(),
                    cantidadMedida : document.querySelector("#cantidadMedida").value,
                    unidadMedida : document.querySelector("#unidadMedida").value,
                    descripcion : document.querySelector("#descripcion").value,
                    marca : document.querySelector("#marca").value
                };
                console.log("Datos de las etiquetas: " + JSON.stringify(datosPost));
                var request = object.put(datosPost); 
                request.onerror = function (e) {
                    alert(request.error.name + '\n\n' + request.error.message);
                };
        
                data.oncomplete = function (e) {
                    document.querySelector("#codigoBarras").value = '';
                    document.querySelector("#nombre").value = '';
                    document.querySelector("#cantidadMedida").value = '';
                    document.querySelector("#unidadMedida").value = '';
                    document.querySelector("#descripcion").value = '';
                    document.querySelector("#marca").value = '';                    
                    alert('Object successfully added');
                    //loadAll();
                };
                
                if (navigator.onLine) {
                    hacerPostProducto(datosPost);
                }                
            }
            /**
             * Permite hacer una peticion de POST al Backend
             * @param bodyDiccionario Es un diccionario con el cuerpo de la peticion de POST 
             */
            function hacerPostProducto(bodyDiccionario) {
                console.log("[ServiceWorker] Intentando hacer el POST");
                
                    var xhr = new XMLHttpRequest();
                    xhr.open('POST', 'http://localhost:8080/producto/crearProducto/', true);
                    xhr.setRequestHeader('Content-type', 'application/x-www-form-urlencoded');
                    xhr.onload = function () {
                        // do something to response
                        // console.log(this.responseText);
                    };
                    let rsp = '';
                    for (var key in bodyDiccionario) {
                        // check if the property/key is defined in the object itself, not in parent
                        if (bodyDiccionario.hasOwnProperty(key)) {           
                            console.log(key, bodyDiccionario[key]);
                            rsp += key + "=" +bodyDiccionario[key];
                            rsp += '&';
                        }
                    }
                    console.log("La cadena respuesta POST intento #2 es: "+ rsp);
                    xhr.send(rsp);
                
            }
            
            function migrarDB() {                
                var active = dataBase.result;
                var data = active.transaction(["people"], "readwrite");
                var object = data.objectStore("people");            
                
                object.openCursor().onsuccess = function (e) {
                    
                    var result = e.target.result;
                    let clave = null;
                    var dictRecord = {};
                    
                    if (result === null) {
                        return;
                    }
                    //Correr el cursor
                    for (var key in result.value) {
                        if (clave === null) {
                            clave = key;
                        }                        
                        dictRecord[key] = result.value[key];
                    }
                    
                    console.log("Verificacion diccionario: ",JSON.stringify(dictRecord));
                    console.log("Haciendo post de la pk: ", dictRecord[0]);
                    if (navigator.onLine) {
                        if (clave === 'codigoBarras'){
                            hacerPostProducto(dictRecord);
                        }
                        if (clave === 'nombre'){
                            hacerPostPunto(dictRecord);
                        }
                        if(clave === 'idEspecificacionProducto') {
                            hacerPostEspecificacionProducto(dictRecord);
                        }
                        if(clave === 'fecha') {
                            hacerPostFactura(dictRecord);
                        }
                        if (clave === 'especificacionProducto') {
                            hacerPostVenta(dictRecord);
                        }                       
                    }
                    
                    else {
                        return; //Terminar la ejecución
                    }
                    
                    //Borrar el registro
                    result.delete();
                    
                    //Continuar
                    result.continue();                    
                };
                
                data.oncomplete = function() {
                  //Vacio 
                }
        }

        // Punto de Venta


        function addPunto() {
                
                var active = dataBase.result;
                var data = active.transaction(["people"], "readwrite");
                var object = data.objectStore("people"); 
                
                const datosPost = {
                    nombre : document.querySelector("#nombrePunto").value,
                    ciudad : document.querySelector("#ciudadPunto").value.toLowerCase(),
                    direccion : document.querySelector("#direccionPunto").value,                   
                };

                console.log("Datos de las etiquetas: " + JSON.stringify(datosPost));
                var request = object.put(datosPost); 
                request.onerror = function (e) {
                    alert(request.error.name + '\n\n' + request.error.message);
                };
        
                data.oncomplete = function (e) {
                    document.querySelector("#nombrePunto").value='',
                    document.querySelector("#ciudadPunto").value='',
                    document.querySelector("#direccionPunto").value='',                          
                    alert('Object successfully added');
                    //loadAll();
                };
                
                if (navigator.onLine) {
                    hacerPostPunto(datosPost);
                }                
            }
            /**
             * Permite hacer una peticion de POST al Backend
             * @param bodyDiccionario Es un diccionario con el cuerpo de la peticion de POST 
             */
            function hacerPostPunto(bodyDiccionario) {
                console.log("[ServiceWorker] Intentando hacer el POST");
                
                    var xhr = new XMLHttpRequest();
                    xhr.open('POST', 'http://localhost:8080/negocio/crearPuntoDeVenta/', true);
                    xhr.setRequestHeader('Content-type', 'application/x-www-form-urlencoded');
                    xhr.onload = function () {
                        // do something to response
                        // console.log(this.responseText);
                    };
                    let rsp = '';
                    for (var key in bodyDiccionario) {
                        // check if the property/key is defined in the object itself, not in parent
                        if (bodyDiccionario.hasOwnProperty(key)) {           
                            console.log(key, bodyDiccionario[key]);
                            rsp += key + "=" +bodyDiccionario[key];
                            rsp += '&';
                        }
                    }
                    console.log("La cadena respuesta POST intento #2 es: "+ rsp);
                    xhr.send(rsp);
                
            }// Punto de Venta


        function addPunto() {
                
                var active = dataBase.result;
                var data = active.transaction(["people"], "readwrite");
                var object = data.objectStore("people"); 
                
                const datosPost = {
                    nombre : document.querySelector("#nombrePunto").value,
                    ciudad : document.querySelector("#ciudadPunto").value.toLowerCase(),
                    direccion : document.querySelector("#direccionPunto").value,                   
                };

                console.log("Datos de las etiquetas: " + JSON.stringify(datosPost));
                var request = object.put(datosPost); 
                request.onerror = function (e) {
                    alert(request.error.name + '\n\n' + request.error.message);
                };
        
                data.oncomplete = function (e) {
                    document.querySelector("#nombrePunto").value='',
                    document.querySelector("#ciudadPunto").value='',
                    document.querySelector("#direccionPunto").value='',                          
                    alert('Object successfully added');
                    //loadAll();
                };
                
                if (navigator.onLine) {
                    hacerPostPunto(datosPost);
                }                
            }
            /**
             * Permite hacer una peticion de POST al Backend
             * @param bodyDiccionario Es un diccionario con el cuerpo de la peticion de POST 
             */
            function hacerPostPunto(bodyDiccionario) {
                console.log("[ServiceWorker] Intentando hacer el POST");
                
                    var xhr = new XMLHttpRequest();
                    xhr.open('POST', 'http://localhost:8080/negocio/crearPuntoDeVenta/', true);
                    xhr.setRequestHeader('Content-type', 'application/x-www-form-urlencoded');
                    xhr.onload = function () {
                        // do something to response
                        // console.log(this.responseText);
                    };
                    let rsp = '';
                    for (var key in bodyDiccionario) {
                        // check if the property/key is defined in the object itself, not in parent
                        if (bodyDiccionario.hasOwnProperty(key)) {           
                            console.log(key, bodyDiccionario[key]);
                            rsp += key + "=" +bodyDiccionario[key];
                            rsp += '&';
                        }
                    }
                    console.log("La cadena respuesta POST intento #2 es: "+ rsp);
                    xhr.send(rsp);
                
            }  


            // Especificacion Producto


            function addEspecificacionProducto() {
                
                var active = dataBase.result;
                var data = active.transaction(["people"], "readwrite");
                var object = data.objectStore("people"); 
                
                const datosPost = {
                    idEspecificacionProducto : document.querySelector("#idEspecificacionProducto").value,
                    precio : document.querySelector("#precioEspecificacionProducto").value,
                    precioUnidadMedida : document.querySelector("#precioMedidaEspecificacionProducto").value,
                    fechaVencimiento : document.querySelector("#fechaVencimiento").value,
                    producto : document.querySelector("#idCodigoBarras").value,
                    puntoDeVenta : document.querySelector("#idPuntoVenta").value,                    
                };

                console.log("Datos de las etiquetas: " + JSON.stringify(datosPost));
                var request = object.put(datosPost); 
                request.onerror = function (e) {
                    alert(request.error.name + '\n\n' + request.error.message);
                };
        
                data.oncomplete = function (e) {
                    document.querySelector("#idEspecificacionProducto").value='',
                    document.querySelector("#precioEspecificacionProducto").value='',
                    document.querySelector("#precioMedidaEspecificacionProducto").value='',
                    document.querySelector("#fechaVencimiento").value='',
                    document.querySelector("#idCodigoBarras").value='',
                    document.querySelector("#idPuntoVenta").value='',                          
                    alert('Object successfully added');
                    //loadAll();
                };
                
                if (navigator.onLine) {
                    hacerPostEspecificacionProducto(datosPost);
                }                
            }
            /**
             * Permite hacer una peticion de POST al Backend
             * @param bodyDiccionario Es un diccionario con el cuerpo de la peticion de POST 
             */
            function hacerPostEspecificacionProducto(bodyDiccionario) {
                console.log("[ServiceWorker] Intentando hacer el POST");
                
                    var xhr = new XMLHttpRequest();
                    xhr.open('POST', 'http://localhost:8080/producto/crearEspecificacionesProducto/', true);
                    xhr.setRequestHeader('Content-type', 'application/x-www-form-urlencoded');
                    xhr.onload = function () {
                        // do something to response
                        // console.log(this.responseText);
                    };
                    let rsp = '';
                    for (var key in bodyDiccionario) {
                        // check if the property/key is defined in the object itself, not in parent
                        if (bodyDiccionario.hasOwnProperty(key)) {           
                            console.log(key, bodyDiccionario[key]);
                            rsp += key + "=" +bodyDiccionario[key];
                            rsp += '&';
                        }
                    }
                    console.log("La cadena respuesta POST intento #2 es: "+ rsp);
                    xhr.send(rsp);
                
            } 

            // Crear Factura


            function addFactura() {
                
                var active = dataBase.result;
                var data = active.transaction(["people"], "readwrite");
                var object = data.objectStore("people"); 
                
                const datosPost = {
                    fecha : document.querySelector("#fechaFactura").value,
                    metodoDePago : document.querySelector("#facturaMetodoPago").value,
                    pagado : false                    
                };

                console.log("Datos de las etiquetas: " + JSON.stringify(datosPost));
                var request = object.put(datosPost); 
                request.onerror = function (e) {
                    alert(request.error.name + '\n\n' + request.error.message);
                };
        
                data.oncomplete = function (e) {
                    document.querySelector("#fechaFactura").value='',
                    document.querySelector("#facturaMetodoPago").value='',                                   
                    alert('Object successfully added');
                    //loadAll();
                };
                
                if (navigator.onLine) {
                    hacerPostFactura(datosPost);
                }                
            }
            /**
             * Permite hacer una peticion de POST al Backend
             * @param bodyDiccionario Es un diccionario con el cuerpo de la peticion de POST 
             */
            function hacerPostFactura(bodyDiccionario) {
                console.log("[ServiceWorker] Intentando hacer el POST");
                
                    var xhr = new XMLHttpRequest();
                    xhr.open('POST', 'http://localhost:8080/venta/crearFactura/', true);
                    xhr.setRequestHeader('Content-type', 'application/x-www-form-urlencoded');
                    xhr.onload = function () {
                        // do something to response
                        // console.log(this.responseText);
                    };
                    let rsp = '';
                    for (var key in bodyDiccionario) {
                        // check if the property/key is defined in the object itself, not in parent
                        if (bodyDiccionario.hasOwnProperty(key)) {           
                            console.log(key, bodyDiccionario[key]);
                            rsp += key + "=" +bodyDiccionario[key];
                            rsp += '&';
                        }
                    }
                    console.log("La cadena respuesta POST intento #2 es: "+ rsp);
                    xhr.send(rsp);
                
            }


             // Crear Venta


            function addVenta() {
                
                var active = dataBase.result;
                var data = active.transaction(["people"], "readwrite");
                var object = data.objectStore("people"); 
                
                const datosPost = {
                    especificacionProducto : document.querySelector("#idVentaEspecificacionProducto").value,
                    factura : document.querySelector("#idVentaFactura").value,
                    cantidad : document.querySelector("#ventaCantidad").value                    
                };

                console.log("Datos de las etiquetas: " + JSON.stringify(datosPost));
                var request = object.put(datosPost); 
                request.onerror = function (e) {
                    alert(request.error.name + '\n\n' + request.error.message);
                };
        
                data.oncomplete = function (e) {
                    document.querySelector("#idVentaEspecificacionProducto").value='',
                    document.querySelector("#idVentaFactura").value='',
                    document.querySelector("#ventaCantidad").value='',                                   
                    alert('Object successfully added');
                    //loadAll();
                };
                
                if (navigator.onLine) {
                    hacerPostFactura(datosPost);
                }                
            }
            /**
             * Permite hacer una peticion de POST al Backend
             * @param bodyDiccionario Es un diccionario con el cuerpo de la peticion de POST 
             */
            function hacerPostVenta(bodyDiccionario) {
                console.log("[ServiceWorker] Intentando hacer el POST");
                
                    var xhr = new XMLHttpRequest();
                    xhr.open('POST', 'http://localhost:8080/venta/crearVentas/', true);
                    xhr.setRequestHeader('Content-type', 'application/x-www-form-urlencoded');
                    xhr.onload = function () {
                        // do something to response
                        // console.log(this.responseText);
                    };
                    let rsp = '';
                    for (var key in bodyDiccionario) {
                        // check if the property/key is defined in the object itself, not in parent
                        if (bodyDiccionario.hasOwnProperty(key)) {           
                            console.log(key, bodyDiccionario[key]);
                            rsp += key + "=" +bodyDiccionario[key];
                            rsp += '&';
                        }
                    }
                    console.log("La cadena respuesta POST intento #2 es: "+ rsp);
                    xhr.send(rsp);
                
            }


             // Crear Inventario


            function addInventario() {
                
                var active = dataBase.result;
                var data = active.transaction(["people"], "readwrite");
                var object = data.objectStore("people"); 
                
                const datosPost = {
                    especificacionProducto : document.querySelector("#idInvEspecificacionProducto").value,                    
                    cantidad : document.querySelector("#unidades").value                    
                };

                console.log("Datos de las etiquetas: " + JSON.stringify(datosPost));
                var request = object.put(datosPost); 
                request.onerror = function (e) {
                    alert(request.error.name + '\n\n' + request.error.message);
                };
        
                data.oncomplete = function (e) {
                    document.querySelector("#idInvEspecificacionProducto").value='',
                    document.querySelector("#unidades").value='',                                            
                    alert('Object successfully added');
                    //loadAll();
                };
                
                if (navigator.onLine) {
                    hacerPostInventario(datosPost);
                }                
            }
            /**
             * Permite hacer una peticion de POST al Backend
             * @param bodyDiccionario Es un diccionario con el cuerpo de la peticion de POST 
             */
            function hacerPostInventario(bodyDiccionario) {
                console.log("[ServiceWorker] Intentando hacer el POST");
                
                    var xhr = new XMLHttpRequest();
                    xhr.open('POST', 'http://localhost:8080/producto/crearInventario/', true);
                    xhr.setRequestHeader('Content-type', 'application/x-www-form-urlencoded');
                    xhr.onload = function () {
                        // do something to response
                        // console.log(this.responseText);
                    };
                    let rsp = '';
                    for (var key in bodyDiccionario) {
                        // check if the property/key is defined in the object itself, not in parent
                        if (bodyDiccionario.hasOwnProperty(key)) {           
                            console.log(key, bodyDiccionario[key]);
                            rsp += key + "=" +bodyDiccionario[key];
                            rsp += '&';
                        }
                    }
                    console.log("La cadena respuesta POST intento #2 es: "+ rsp);
                    xhr.send(rsp);
                
            }       

        </script>
    </head>
    <body onload="startDB();">
        <div>
        <form class="myForm" >
            <h4>Crear Producto</h4>            
            <div>
            <input type="text" id="codigoBarras" placeholder="Ingrese el codigo de barras" />            
            <input type="text" id="nombre" placeholder="Enter name" />
            </div>
            <div>            
            <input type="number" id="cantidadMedida" placeholder="Enter cantidadMedida" />            
            <input type="text" id="unidadMedida" placeholder="Enter unidadMedida" />
            </div>
            <div>
            <input type="text" id="descripcion" placeholder="Enter descripcion" />            
            <input type="text" id="marca" placeholder="Enter marca" />
            </div>
            <div>
                <button type="button" onclick="addProducto();">Save</button>
                <button type="button" onclick="migrarDB();">Migrar la base de datos a global</button>
            </div>            
        </form>

        <form class="myForm" >
            <h4>Crear Factura</h4>            
            <div>
            <input type="date" id="fechaFactura" placeholder="Fecha de facturación" />            
            <input type="text" id="facturaMetodoPago" placeholder="Ingrese el metodo de pago" />
            </div>            
            <div>
                <button type="button" onclick="addFactura();">Save</button>
                <button type="button" onclick="migrarDB();">Migrar la base de datos a global</button>
            </div>            
        </form>
        </div>
        <div>
        <form class="myForm" >
            <h4>Crear Venta</h4>            
            <div>
                <input type="number" id="idVentaEspecificacionProducto" placeholder="Ingrese el ID del producto especifico (EspecificacionProducto)" />            
                <input type="number" id="idVentaFactura" placeholder="Ingrese el ID de la factura" />
                <input type="number" id="ventaCantidad" placeholder="Ingrese la cantidad a comprar" />
            </div>            
            <div>
                <button type="button" onclick="addVenta();">Save</button>
                <button type="button" onclick="migrarDB();">Migrar la base de datos a global</button>
            </div>            
         </form>

         <form class="myForm" >
                <h4>Crear Inventario Producto</h4>            
                <div>
                    <input type="number" id="idInvEspecificacionProducto" placeholder="Ingrese el ID del producto especifico (EspecificacionProducto)" />                                
                    <input type="number" id="unidades" placeholder="Ingrese la cantidad a comprar" />
                </div>            
                <div>
                    <button type="button" onclick="addInventario();">Save</button>
                    <button type="button" onclick="migrarDB();">Migrar la base de datos a global</button>
                    <button type="button" id="redirigir" class="float-left submit-button" >Ver inventario</button>
                            <script type="text/javascript">
                                document.getElementById("redirigir").onclick = function () {
                                    location.href = "localhost:8080/producto/darInventario/";
                                };
                            </script>
                </div>            
             </form>
         </div>
        <form class="myForm" >
            <h4>Especificacion Producto</h4>            
            <div>
            <input type="text" id="idEspecificacionProducto" placeholder="Ingrese el ID de Especificacion" />            
            <input type="number" id="precioEspecificacionProducto" placeholder="Ingrese el precio" />
            </div>
            <div>            
            <input type="number" id="precioMedidaEspecificacionProducto" placeholder="Ingrese el precio por unidad de medida" />            
            <input type="date" id="fechaVencimiento" placeholder="Ingrese la fecha de vencimiento" />
            </div>
            <div>
            <input type="number" id="idCodigoBarras" placeholder="Ingrese el codigo de barras del producto a relacionar" />            
            <input type="number" id="idPuntoVenta" placeholder="Ingrese el ID del punto de venta" />
            </div>
            <div>
                <button type="button" onclick="addEspecificacionProducto();">Save</button>
                <button type="button" onclick="migrarDB();">Migrar la base de datos a global</button>
            </div>            
        </form>

        <form class="myForm" >
            <h4>Punto de venta</h4>            
            <div>
            <input type="text" id="nombrePunto" placeholder="Nombre del punto"/>            
            <input type="text" id="ciudadPunto" placeholder="Ciudad del punto" />
            <input type="text" id="direccionPunto" placeholder="Direccion del punto" />
            </div>            
            <div>
                <button type="button" onclick="addPunto();">Save</button>
                <button type="button" onclick="migrarDB();">Migrar la base de datos a global</button>
            </div>            
        </form>
    </div>   
    </body>
    
    <!-- Footer -->
        <footer style="background-color: #D8D8D8; position: relative; bottom: 0; width: 100%; height: 100px;">

            <div style="padding: 30px">
                <div style="float: left; width: 400px;" >ISIS-Consulting</div>
                <div style="float: right; width: 220px;" >Universidad de los Andes</div>
                <br>
                <div style="float: left; width: 400px;" ><i>Desarrollo de requerimientos ASRs</i></div>
            </div>
            <br>

        </footer>
    <!-- Footer -->
</html>